# Savia — Configuration (copier en .env)
DEBUG=false
ENGINE_VERSION=savia-mvp-v1
CONFIDENCE_THRESHOLD_ESCALATE=0.7
CONFIDENCE_THRESHOLD_AI=0.1
AI_ENABLED=true
SONAR_TOKEN=eca6c182e70a09929551af277eddb88a147eb577

# Ollama (API distante)
OLLAMA_HOST=https://ollama.com/v1/chat/completions
OLLAMA_MODEL=gemini-3-flash-preview
OLLAMA_API_KEY=ed74f96db55f4a3d9ec2d5e81060158e.ZDWYe61Hq3fkMqr-kEY-EU82
